body{
  background-color: #333;
  color: #fff;

  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
  height: 100%;
}

.goat {
  text-align: center;
}

.key{
    padding-left: 37px;
    padding-top: 15px;
}